flows/TwitchChatBot.json
{
  "flowContents": {
    "identifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
    "instanceIdentifier": "769aa4ab-019f-1000-0000-000066255bc8",
    "name": "TwitchChatBot",
    "comments": "",
    "position": {
      "x": 2112.0,
      "y": -344.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "367d2657-29c4-3bee-882b-4e6081265ac9",
        "instanceIdentifier": "769aa5f6-019f-1000-ffff-ffff86f25859",
        "name": "RouteOnAttribute",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 200.0
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0.4.3.4.0-234"
        },
        "properties": {
          "Routing Strategy": "Route to Property name",
          "screen2": "${screen:equals('screen2')}",
          "screen1": "${screen:equals('screen1')}",
          "matrix": "${screen:equals('matrix')}"
        },
        "propertyDescriptors": {
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "screen2": {
            "name": "screen2",
            "displayName": "screen2",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "screen1": {
            "name": "screen1",
            "displayName": "screen1",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "matrix": {
            "name": "matrix",
            "displayName": "matrix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "unmatched"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "9b1705d1-a5c1-3a82-0000-00002fec83e6",
        "instanceIdentifier": "40855cff-cbf1-3309-89c3-61fdfce5686e",
        "name": "LogInvokeFailure",
        "comments": "",
        "position": {
          "x": 8.0,
          "y": 800.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0.4.3.4.0-234"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "d9e83891-2692-388e-985e-5e695e0312f8",
        "instanceIdentifier": "775a216a-019f-1000-ffff-ffff9851288f",
        "name": "InvokeGamingPC",
        "comments": "",
        "position": {
          "x": 512.0,
          "y": 400.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0.4.3.4.0-234"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "Response Header Request Attributes Prefix": null,
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
          "HTTP URL": "http://10.244.2.115:8082/streamChatListener",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "POST",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Prefix": {
            "name": "Response Header Request Attributes Prefix",
            "displayName": "Response Header Request Attributes Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "OAuth2 Access Token Refresh Strategy": {
            "name": "OAuth2 Access Token Refresh Strategy",
            "displayName": "OAuth2 Access Token Refresh Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "Response",
          "No Retry",
          "Retry",
          "Failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "eb2976ed-04df-313c-a736-ba11008db468",
        "instanceIdentifier": "769aa633-019f-1000-ffff-ffffba835001",
        "name": "InvokeNvidiaNano",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 400.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0.4.3.4.0-234"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "Response Header Request Attributes Prefix": null,
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
          "HTTP URL": "http://192.168.1.195:8081/streamChatListener",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "POST",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Prefix": {
            "name": "Response Header Request Attributes Prefix",
            "displayName": "Response Header Request Attributes Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "OAuth2 Access Token Refresh Strategy": {
            "name": "OAuth2 Access Token Refresh Strategy",
            "displayName": "OAuth2 Access Token Refresh Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "Response",
          "No Retry",
          "Retry",
          "Failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "73f97a56-88d9-3c6a-91ba-b5a19b3b9fa5",
        "instanceIdentifier": "769aa551-019f-1000-ffff-ffffba0dcd6d",
        "name": "TwitchChatListener",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 8.0
        },
        "type": "TwitchChatListenerProcessor",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "python-extensions",
          "version": "0.0.13-SNAPSHOT"
        },
        "properties": {
          "Bot Username": "tunastreettest",
          "Client ID": "r6tml86sg6hp478lj9zr0xfoj41631",
          "Matrix Command": "!matrix",
          "Command Prefix": "!load",
          "Watchlist Command": "!watchlist",
          "Channel": "tunastarlink",
          "Refresh Token": "#{twitch-bot-refresh-token}",
          "Watchlist API URL": "http://cso-operator-app.default.svc.cluster.local:8090/api/streamers/watchlist",
          "Client Secret": "#{twitch-chat-client-secret}"
        },
        "propertyDescriptors": {
          "Bot Username": {
            "name": "Bot Username",
            "displayName": "Bot Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Client ID": {
            "name": "Client ID",
            "displayName": "Client ID",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Matrix Command": {
            "name": "Matrix Command",
            "displayName": "Matrix Command",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Command Prefix": {
            "name": "Command Prefix",
            "displayName": "Command Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Watchlist Command": {
            "name": "Watchlist Command",
            "displayName": "Watchlist Command",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Channel": {
            "name": "Channel",
            "displayName": "Channel",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Refresh Token": {
            "name": "Refresh Token",
            "displayName": "Refresh Token",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Watchlist API URL": {
            "name": "Watchlist API URL",
            "displayName": "Watchlist API URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Client Secret": {
            "name": "Client Secret",
            "displayName": "Client Secret",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "240bedf4-bb0d-3e62-a56e-b5efd2e2ea0d",
        "instanceIdentifier": "8716ed40-019f-1000-0000-00003b449e4e",
        "name": "InvokeNvidiaNanoMatrix",
        "comments": "",
        "position": {
          "x": -512.0,
          "y": 392.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0.4.3.4.0-234"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "Response Header Request Attributes Prefix": null,
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
          "HTTP URL": "http://192.168.1.195:8082/matrixListener",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "POST",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Prefix": {
            "name": "Response Header Request Attributes Prefix",
            "displayName": "Response Header Request Attributes Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "OAuth2 Access Token Refresh Strategy": {
            "name": "OAuth2 Access Token Refresh Strategy",
            "displayName": "OAuth2 Access Token Refresh Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "Response",
          "No Retry",
          "Retry",
          "Failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "92172ef2-9790-36d3-b482-e018cc091b6d",
        "instanceIdentifier": "8b94f733-019f-1000-ffff-ffffbe4bef37",
        "name": "TwitchChatReplyProcessor",
        "comments": "",
        "position": {
          "x": 8.0,
          "y": 616.0
        },
        "type": "TwitchChatReplyProcessor",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "python-extensions",
          "version": "0.0.2-SNAPSHOT"
        },
        "properties": {
          "Client ID": "r6tml86sg6hp478lj9zr0xfoj41631",
          "Sender Login": "tunastreettest",
          "Broadcaster Login": "tunastarlink",
          "Matrix Message": "Matrix screensaver is now active.",
          "Message Template": "${streamer} is now showing on ${screen}.",
          "Client Secret": "#{twitch-chat-client-secret}",
          "Dry Run": "false"
        },
        "propertyDescriptors": {
          "Client ID": {
            "name": "Client ID",
            "displayName": "Client ID",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Sender Login": {
            "name": "Sender Login",
            "displayName": "Sender Login",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Broadcaster Login": {
            "name": "Broadcaster Login",
            "displayName": "Broadcaster Login",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Matrix Message": {
            "name": "Matrix Message",
            "displayName": "Matrix Message",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Template": {
            "name": "Message Template",
            "displayName": "Message Template",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Client Secret": {
            "name": "Client Secret",
            "displayName": "Client Secret",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Dry Run": {
            "name": "Dry Run",
            "displayName": "Dry Run",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "15 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "success"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "c5e8b3d3-58a7-3675-b6b3-7566e32bdfd2",
        "instanceIdentifier": "775a2136-019f-1000-0000-00003b307884",
        "source": {
          "id": "367d2657-29c4-3bee-882b-4e6081265ac9",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "769aa5f6-019f-1000-ffff-ffff86f25859"
        },
        "destination": {
          "id": "eb2976ed-04df-313c-a736-ba11008db468",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "InvokeNvidiaNano",
          "comments": "",
          "instanceIdentifier": "769aa633-019f-1000-ffff-ffffba835001"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "screen1"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "b4ee71a2-444c-3329-8185-b0f4e367345c",
        "instanceIdentifier": "775a21a0-019f-1000-0000-00005d3d2e45",
        "source": {
          "id": "367d2657-29c4-3bee-882b-4e6081265ac9",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "769aa5f6-019f-1000-ffff-ffff86f25859"
        },
        "destination": {
          "id": "d9e83891-2692-388e-985e-5e695e0312f8",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "InvokeGamingPC",
          "comments": "",
          "instanceIdentifier": "775a216a-019f-1000-ffff-ffff9851288f"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "screen2"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "9c42c9b1-ca1b-354c-9829-5cfe099c8cfa",
        "instanceIdentifier": "769aa72d-019f-1000-ffff-ffffc2c9c63d",
        "source": {
          "id": "73f97a56-88d9-3c6a-91ba-b5a19b3b9fa5",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "TwitchChatListener",
          "comments": "",
          "instanceIdentifier": "769aa551-019f-1000-ffff-ffffba0dcd6d"
        },
        "destination": {
          "id": "367d2657-29c4-3bee-882b-4e6081265ac9",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "769aa5f6-019f-1000-ffff-ffff86f25859"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "7e8a68b5-4245-31d0-a9b0-fe74dc7eaf4d",
        "instanceIdentifier": "8b972829-019f-1000-0000-000059f5160f",
        "source": {
          "id": "eb2976ed-04df-313c-a736-ba11008db468",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "InvokeNvidiaNano",
          "comments": "",
          "instanceIdentifier": "769aa633-019f-1000-ffff-ffffba835001"
        },
        "destination": {
          "id": "92172ef2-9790-36d3-b482-e018cc091b6d",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "TwitchChatReplyProcessor",
          "comments": "",
          "instanceIdentifier": "8b94f733-019f-1000-ffff-ffffbe4bef37"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Original"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "9f4ea82f-fdba-3d25-b2b2-1afa0a3818b7",
        "instanceIdentifier": "8b972abc-019f-1000-0000-000004ccbac8",
        "source": {
          "id": "92172ef2-9790-36d3-b482-e018cc091b6d",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "TwitchChatReplyProcessor",
          "comments": "",
          "instanceIdentifier": "8b94f733-019f-1000-ffff-ffffbe4bef37"
        },
        "destination": {
          "id": "9b1705d1-a5c1-3a82-0000-00002fec83e6",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "LogInvokeFailure",
          "comments": "",
          "instanceIdentifier": "40855cff-cbf1-3309-89c3-61fdfce5686e"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "ce9ab172-cf71-3315-b5ca-c073c8186896",
        "instanceIdentifier": "8b9728e3-019f-1000-0000-00002718db7e",
        "source": {
          "id": "d9e83891-2692-388e-985e-5e695e0312f8",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "InvokeGamingPC",
          "comments": "",
          "instanceIdentifier": "775a216a-019f-1000-ffff-ffff9851288f"
        },
        "destination": {
          "id": "92172ef2-9790-36d3-b482-e018cc091b6d",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "TwitchChatReplyProcessor",
          "comments": "",
          "instanceIdentifier": "8b94f733-019f-1000-ffff-ffffbe4bef37"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Original"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "0880df5b-4ee6-305d-9322-118a75982dea",
        "instanceIdentifier": "8b9729df-019f-1000-0000-00005af0979b",
        "source": {
          "id": "240bedf4-bb0d-3e62-a56e-b5efd2e2ea0d",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "InvokeNvidiaNanoMatrix",
          "comments": "",
          "instanceIdentifier": "8716ed40-019f-1000-0000-00003b449e4e"
        },
        "destination": {
          "id": "92172ef2-9790-36d3-b482-e018cc091b6d",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "TwitchChatReplyProcessor",
          "comments": "",
          "instanceIdentifier": "8b94f733-019f-1000-ffff-ffffbe4bef37"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Original"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      },
      {
        "identifier": "43ba57ec-2f15-3f35-8868-9953ee238c71",
        "instanceIdentifier": "8716ed56-019f-1000-0000-0000711d9a48",
        "source": {
          "id": "367d2657-29c4-3bee-882b-4e6081265ac9",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "769aa5f6-019f-1000-ffff-ffff86f25859"
        },
        "destination": {
          "id": "240bedf4-bb0d-3e62-a56e-b5efd2e2ea0d",
          "type": "PROCESSOR",
          "groupId": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f",
          "name": "InvokeNvidiaNanoMatrix",
          "comments": "",
          "instanceIdentifier": "8716ed40-019f-1000-0000-00003b449e4e"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "matrix"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "85f9dd77-6096-39cc-b4dc-ed4d3af4ac4f"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [],
    "parameterContextName": "twitch-chat-bot-creds",
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {
    "twitch-chat-bot-creds": {
      "name": "twitch-chat-bot-creds",
      "parameters": [
        {
          "name": "twitch-chat2-client-secret",
          "description": "Client Secret for the separate TunaStreetTestBot Twitch app (WatchlistChatJoinerProcessor only).",
          "sensitive": true,
          "provided": false
        },
        {
          "name": "twitch-bot-refresh-token",
          "sensitive": true,
          "provided": false
        },
        {
          "name": "twitch-bot-oauth-token",
          "sensitive": true,
          "provided": false
        },
        {
          "name": "twitch-watchlist-bot-refresh-token",
          "description": "Independent user OAuth refresh token for WatchlistChatJoinerProcessor - NOT shared with twitch-bot-refresh-token (the IRC listener uses that one and rotates it on every use).",
          "sensitive": true,
          "provided": false
        },
        {
          "name": "twitch-chat-client-secret",
          "sensitive": true,
          "provided": false
        }
      ],
      "inheritedParameterContexts": [],
      "componentType": "PARAMETER_CONTEXT"
    }
  },
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
